<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        {{!-- Document Settings --}}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{!-- Page Meta --}}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        {{!-- Mobile Meta --}}
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{!-- Brand icon --}}
        {{!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> --}}

        <link rel="stylesheet" type="text/css" href="{{asset "css/vendor/normalize.min.css"}}" />
        <script type="text/javascript" src="{{asset "js/vendor/modernizr.min.js"}}"></script>
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" />

        {{!-- Ghost outputs important style and meta data with this tag --}}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">

        {{!-- Keeping the navigation content in the sidebar --}}
        {{> sidebar}}
        <section id="content" class="content">
            {{> topbar}}
            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}
        </section>

        {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>
        {{!-- Fitvids makes video embeds responsive and awesome --}}
        {{!-- <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script> --}}
        <script type="text/javascript" src="{{asset "js/interaction.js"}}"></script>
        {{ghost_foot}}
    </body>
</html>
