{{!< default}}

<section class="post-list">
    {{#foreach posts}}
    <article class="{{post_class}}">
        <header class="metadata">
            <b>Published:</b> {{date published_at timeago="true"}}<br />
            {{#if tags}}<b>Posted In:</b> {{tags}}{{/if}}
        </header>
        {{#if image}}
        <header class="cover-image" style="
        background: url({{image absolute="true"}}) center center no-repeat;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
         -webkit-background-size: cover;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image absolute="true"}}', sizingMethod='scale');
         -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image absolute="true"}}', sizingMethod='scale')";
         ">
        </header>
        {{/if}}
        <section class="post-title">
            <a href="{{url absolute="true"}}"><h2>{{title}}</h2></a>
        </section>
        <section class="post-excerpt">
            <p>
                {{excerpt words="44"}} <a class="read-more" href="{{url}}">...</a>
            </p>
        </section>
    </article>
    <div class="separator"><div class="line"></div></div>
    {{/foreach}}
</section>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}
