{{!< default}}

{{#post}}
<section class="{{post_class}}">
    <header class="metadata">
        <b>Published:</b> {{date format="DD MMMM YYYY"}}<br />
        {{#if tags}}<b>Posted In:</b> {{tags}}{{/if}}
    </header>
    {{#if image}}
    <header class="cover-image" style="
    background: url({{image absolute="true"}}) center center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
     -webkit-background-size: cover;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image absolute="true"}}', sizingMethod='scale');
     -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{{image absolute="true"}}', sizingMethod='scale')";
     ">
    </header>
    {{/if}}
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
    </header>
    <section class="post-content">
        {{content}}
    </section>
    <footer class="metadata">
        <b>Author:</b> {{author.name}}
    </footer>
    <div class="separator">
        <div class="line">
        </div>
    </div>
    {{#prev_post}}
    <div class="previous-post">
        <b>Previous: </b><a href="{{url}}">{{title}}</a>
    </div>
    {{/prev_post}}

    {{#next_post}}
    <div class="next-post">
        <b>Next: </b><a href="{{url}}">{{title}}</a>
    </div>
    {{/next_post}}
</section>
{{/post}}
